@import "variables.css";

:root {
  --portrait-width: 10rem;
}

.consequences {
  margin-top: 3rem;
}

/* TODO: Q: quote? */
.content.quote {
  margin: 2rem 0;
  padding: 3rem 0 0 0;
}
.quote-icon {
  font-size: 4rem;
  width: 4rem;
  color: var(--highlight-color);
}

.content.quote {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.quote-wrapper {
  display: flex;
  align-items: flex-start;

}

.content.quote i {
  position: relative;
  top: 20px;
  margin: 0 3px 0 3px;

}

.content.quote p {
  margin: 1rem;
  padding: 1rem;
  flex: 1;
  border: 1px solid var(--highlight-color);
}

@media (max-width: 768px) {
  .quote-icon {
    font-size: 2rem;
    width: 2rem;
  }
  .content.quote i {
    width: 10%;
  }
  .content.quote {
    width: 100%;
  }
}

.portrait {
  width: var(--portrait-width);
  /* height: calc(var(--portrait-width)*1.5); */
  height: var(--portrait-width);
  object-fit: cover;
  /* TODO: Border radius? */
  border-radius: 100%;
}

.quote .card p {
  border: none;
  margin-left: 0;
  padding-left: 0;
}
