@import "variables.css";

footer h2 {
    font-size: calc(var(--xl-font-size) + 1rem);
    letter-spacing: 5px;
}

footer h3 {
    font-size: var(--lrg-font-size);
    letter-spacing: 13px;
    position: relative;
    top: -15px;
}

footer ul {
    position: relative;
    top: -1rem;
    left: 50%;
}

footer a {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color: var(--secondary-color)
}

footer ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 10px;
    font-size: var(--med-font-size);
    transition: text-decoration 1s ease; /* TODO: make left to right */
}

footer ul li a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
}
