@import "variables.css";

:root {
  --portrait-width: 10rem;
}

.consequences {
  margin-top: 3rem;
}

/* TODO: Q: quote? */
.content.quote {
  margin: 2rem 0;
  padding: 3rem 0 0 0;
}
.quote-icon {
  font-size: 4rem;
  width: 4rem;
  color: var(--highlight-color);
  padding: 20px;
}

.content.quote {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.quote-wrapper {
  display: flex;
  align-items: flex-start;
}

.content.quote i {
  position: relative;
  top: 20px;
  margin: 0 3px 0 3px;
}

.content.quote p {
  margin: 1rem;
  padding: 1rem;
  flex: 1;
}

@media (max-width: 768px) {
  .quote-icon {
    font-size: 2rem;
    width: 2rem;
  }
  .content.quote i {
    width: 10%;
  }
  .content.quote {
    width: 100%;
  }
}

.portrait {
  width: var(--portrait-width);
  /* height: calc(var(--portrait-width)*1.5); */
  height: var(--portrait-width);
  object-fit: cover;
  /* TODO: Border radius? */
  border-radius: 100%;
}

.quote .quote-tile p {
  border: none;
  margin-left: 0;
  padding-left: 0;
}

.quote-tiles {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-y: hidden;
}

.quote-tile {
  border: 3px solid var(--highlight-color);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(246, 255, 0, 0.2);
  flex: 0 0 calc(25% - 20px); /* Four cards per row */
  height: auto;
  min-width: 60%;
  position: relative;
}

@media (min-width: 769px) {
  .quote-tile h3,
  .quote-tile p {
    color: var(--secondary-color);
    white-space: normal;
    width: 100%;
  }

  .quote-tile h3 {
    font-size: 20px;
    margin-bottom: 0.5rem;
    transform: translateY(3rem);
    opacity: 0;
    transition: opacity 4s ease, transform 0.6s;
  }

  .quote-tile p {
    opacity: 0;
    transform: translateY(3rem);
    transition: opacity 4s ease, transform 0.6s;
  }

  .quote-tile.visible h3, .quote-tile.visible p {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  
}
