@import "variables.css";

:root {
  --cover-wrapper-width: 30%;
  --cover-wrapper-pad-left: 4rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 1rem 1rem 0;
  background-color: var(--secondary-color);
}

#appearing-title {
  background-color: var(--highlight-color);
  font-size: calc(var(--xl-font-size) - 0.5rem);
  font-family: "Bebas Neue", sans-serif;
  top: 0;
  left: 0;
  z-index: 11;
  width: var(--cover-wrapper-width);
  padding: .9rem 0 .5rem var(--cover-wrapper-pad-left);
  transition: opacity 1s ease; /* transition opacity */
}

#appearing-title.show {
  display: block; /* make it visible */
  opacity: 1; /* fully opaque */
}

#appearing-title a {
  color: var(--secondary-color);
}

h1 a {
  text-decoration: none;
  color: var(--primary-color);

}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline; /* Display list items horizontally */
}

nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 10px;
  font-size: var(--med-font-size);
  transition: text-decoration 1s ease; /* TODO: make left to right */
}

nav ul li a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

.banner {
  width: 100%;
  height: 80vh;
  margin: 0;
  background: url("../hold.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.cover-wrapper {
  position: relative;
  top: 50vh;
  padding: 2rem 0rem 1rem var(--cover-wrapper-pad-left);
  background-color: var(--highlight-color);
  width: 30%;
  z-index: 9;
}

h1 {
  position: relative;
  color: var(--secondary-color);
}

.cover-wrapper p {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  color: var(--secondary-color);
  font-size: calc(var(--med-font-size) + 0.5rem);
}

@media (max-width: 768px) {
  .cover-wrapper {
    width: 90%;
    padding: 2rem 0rem 1rem 2rem;
  }
}

.scroll-arrow {
  position: absolute;
  left: 50%;
  bottom: 7.5rem;
  transform: rotate(90deg);
  color: var(--highlight-color);
  font-size: 2rem;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .scroll-arrow {
    bottom: 5rem;
  }
}
