@import "variables.css";

.history {
  margin-top: 3rem;
}

.history img {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.history .content .parasection {
  font-size: var(--med-font-size) - 0.2rem;
  /* margin-bottom: 3rem; */
}
.parasection {
  clear: both;
  margin-bottom: 3rem;
}

.parasection img {
  max-width: 45%;
}

@media (min-width: 769px) {
  .parasection {
    display: flex;
    align-items: flex-start;
  }

  .parasection img {
    margin: 0 1rem 0 1rem;
    width: 35%;
  }

  .parasection:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 426px) {
  .parasection img {
    width: 100%;
  }
}
