body {
    font-family: "Archivo Narrow", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../bannermilano.jpeg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

header .column_container {
    padding: 166px 0 184px 0;
    text-align: center;
}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 40px;
    text-align: center;
    padding: 0 0 23px 0;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: 1.4;
    padding: 8px 0;
}

.column_container {
    margin: auto;
    width: 960px;
    padding: 40px 0;
}

#first-p {
    background-color: rgb(81, 57, 0);
}

#photo-block {
    background-color: #360000;
}

#second-p {
    background-color: rgb(81, 57, 0);
    height: 26rem;
}

#photo-block h2, h3, h4, p {
    color: white;
}

#big-cookie {
    width: 400px;
    height: 300px;
    float: right;
    object-fit: cover;
    margin: 3px 0 2rem 2.5rem;
}

.other-section h3 {
     margin-top: 9px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

.grid li {
    width: 100%;
    display: flex;
}

.grid .grid-photo {
    width: 200px;
    height: 150px;
    margin: .5rem .75rem 1rem 0;
}

.grid .grid-text {
    width: 45%;
    margin-top: 8px;
}

#p-center-block {
    text-align: center;
    font-size: 26px;
    width: 708px;
    margin: auto;
}

footer p{
    padding: 0px;
    color: black;
}

footer {
    background-color: white;
}
