/* CSS for Description and Notes sections */

.description img,
.notes img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-height: 40vh; /* Adjust the max-height as needed */
}

.description .content,
.notes .content {
  display: inline-block;
}

@media (min-width: 768px) {
  .description img {
    float: right;
    max-height: none; /* Reset max-height */
    width: 50%; /* Set the width to 50% for larger screens */
    margin-left: 20px; /* Add margin to the left for spacing */
  }
  /* TODO: update icon */
  .notes img {
    float: left;
    max-height: none; /* Reset max-height */
    width: 50%; /* Set the width to 50% for larger screens */
    margin-right: 2rem; /* Add margin to the left for spacing */
  }
}

@media (min-width: 1440px) {
  .description img {
    max-height: 35vh; /* Adjust the max-height as needed for larger screens */
    width: auto;
  }

  .notes img {
    max-height: auto; /* Adjust the max-height as needed for larger screens */
    width: 50%;
  }
}

@media (max-width: 767px) {
  .description img,
  .notes img {
    float: none; /* Reset float */
    width: 100%; /* Set the width to 100% for smaller screens */
    max-height: none; /* Reset max-height */
    margin: 0; /* Reset margin */
  }
}
