/* TODO: DARK BLUE */

/* 
 * Default styles 
 */
* {
  margin: 0;
  padding: 0;
}


.b-i-style {
  font-style: italic;
  font-weight: bold;
}

.section {
  margin: 0 20px 3rem 20px;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.icon {
  padding-right: 10px;
}

h1, h2, h3, p, span, li {
  font-family: "Neuton", serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  font-weight: 800;
  color: hsl(210, 100%, 15%);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: hsl(210, 100%, 15%);
}

h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: hsl(210, 100%, 15%);
}

p, li {
  font-size: 18px;
}

@media (min-width: 768px) {
  p, li {
    font-size: 120%;
  }
}

/* 
 * Mobile Mode general styles
 */
@media (max-width: 949px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* 
 * Desktop Mode general styles
 */
@media (min-width: 950px) {
  .section {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (min-width: 1440px) {
  h1, h2, h3 {
    font-size: 230%;
  }
  p, li {
    font-size: 130%;
  }
}

/*
 * < Table General styles
 */
@media (max-width: 767px) {
  .section {
    margin: 0 20px 2.5rem 20px;
  }
}

footer {
  color: hsl(210, 100%, 15%);
}