/*
 * CSS for the header
 */

header {
  margin: 2rem 0 5rem 0;
}

header img {
  margin-top: 2rem;
}

.recipe-info {
  position: relative;
  top: 0;
}

.recipe-info .left-div {
  position: relative;
  padding-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  white-space: nowrap;
  width: 1rem;
}

.recipe-info .right-div {
  flex: 1;
}

.recipe-info .left-div p {
  margin: 0;
  font-size: 1rem;
  transform-origin: top right;
  transform: rotate(-90deg) translateY(-100%) translateX(-1000%);
}

.info-wrapper {
  margin: 10px 0 10px 0;
}

/* Header style for smaller screens mode */
@media (max-width: 949px) {
  header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  header {
    position: relative;
    margin-top: 10rem;
  }

  .recipe-info {
    position: relative;
    top: 0;
    left: -5rem;
  }

  .socials {
    position: relative;
    top: 0.2rem;
    left: 6rem;
    transform: scale(1.2);
  }
}

/* Header style for desktop mode */
@media (min-width: 950px) {
  header {
    justify-content: space-between;
    align-items: center;
  }
  .title-img {
    width: 45%;
    position: relative;
    left: 0;
  }
  .recipe-info .left-div p {
    font-size: 110%;
  }
  .recipe-info .right-div p {
    font-size: 18px;
  }

  .recipe-info {
    left: 5rem;
  }
}

/* Header style wide desktop */
@media (min-width: 1025px) {
  .recipe-info {
    position: relative;
    width: 50%;
  }

  .recipe-info .left-div p {
    font-size: 140%;
  }

  .recipe-info .right-div p {
    font-size: 20px;
  }
}
