
/* 
 * CSS for the ingredients
 */
 .ingredients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    list-style: none;
    width: 100%;
  }
  
  .ingredient {
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 100px;
    width: 100px;
  }
  
  .ingredient img {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
  
  /* Ingredient style desktop mode  */
  @media (min-width: 950px) {
    .ingredients {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      grid-auto-rows: auto;
    }
  
    .ingredient {
      height: auto;
      width: 100%;
    }
  
    .ingredient img {
      transition: filter 0.5s ease;
    }
  
    .ingredient:hover img {
      filter: blur(1px);
      border: 1px solid red; /* Update color */
    }
  
    .name {
      display: none;
      color: white;
    }
  
    .ingredient:hover .name {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-28deg);
      text-align: center;
      left: 0;
      right: 0;
      /* background-color: rgba(0, 0, 0, 0.8); */
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
      padding: 5px;
      animation: fade 0.8s ease forwards; /* Fade in/out effect: https://www.youtube.com/watch?v=oMrdicdu-RE */
    }
    @keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  
  /* Ingredient style for < tablet */
  @media (max-width: 949px) {
    .ingredients {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      grid-auto-rows: auto;
    }
  
    .ingredient {
      height: auto;
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .ingredient img {
      height: auto;
      width: 100%;
      max-height: calc(100% - 20px);
    }
  
    .name {
      display: block;
      text-align: center;
    }
  }