/* Set the margin-bottom of the header to 3rem. */
header {
    margin-bottom: 3rem;
}

/* Set the line-height of all paragraphs to 1.6. */
p {
    line-height: 1.6;

}

/* Make the font-size of the "See All..." links 0.8em, and make them uppercase. */
a {
    font-size: 0.8em;
    text-transform: uppercase;
}

/* Make the font-size of show titles 2.5rem. */
h1 {
    font-size: 2.5rem;
}

/* Make the section-titles uppercase, and font-size 1rem. */
h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

/* Make all title fonts light weight. */
h1, h2, h3 {
    font-weight: lighter;

}

/* Make the cast images width:100%;. */
img {
    width: 100%;

}

/* Make each castmember element width:25%;. (The element that represents the whole castmember in the list, not just the image.) */
.cast ul li {
    width: 25%;
}

/* Add a 1px solid black border above each show — without unintentionally adding borders elsewhere. */
#game-of-thrones, #unbreakable-kimmy-schmidt {
    border-top: 1px solid black;
}

/* Make the navigation tab with the .selected class be bold and black. */
header nav ul li.selected {
    font-weight: bold;
    color: black;
}

header nav ul li.selected a {
    font-weight: bold;
    color: black;
}

/* Make the castmember labels 0.8rem. */
.cast ul li a {
    font-size: 0.8rem;
}

/* Make the actor/actress names bold. */
.cast ul li div:first-of-type {
    font-weight: bold;
}

/* Make the character names italic. */
.cast ul li div:last-of-type {
    font-style: italic;
}

/* Add an asterisk (*) to the last year in the Game of Thrones seasons list. */
#game-of-thrones .seasons ul li:last-of-type::after {
    content: "*";
}

/* Add the text "* Final Season" on the next line after the Game of Thrones season list. Make it 0.7rem, and color it to be #999. */
#game-of-thrones .seasons ul::after {

    content: "\a * Final Season";
    white-space: pre;
    font-size: 0.7rem;
    color: #999;
}